<IfModule mod_rewrite.c>
    RewriteEngine On

    # Menentukan folder public sebagai root aplikasi
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Jika sudah masuk ke public folder, alihkan ke index.php di public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
